.rdt_TableHead .rdt_TableCol {
  background-color: #f2f2f2;
}
.rdt_TableHead .rdt_TableCol_Sortable {
  font-weight: bold;
}
.rdt_TableCell,
.rdt_Table {
  font-family:
    Helvetica Neue,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: normal;
  font-size: 1em;
  font-variant: normal;
  color: rgba(0, 0, 0, 0.87);
}
