.rdt_Table {
  font-family:
    Helvetica Neue,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  font-variant: normal;
  color: rgba(0, 0, 0, 0.87);
}
